.column {
  --COLOR-GRAY-DARK: #1c1c1cf2;
  background: var(--COLOR-GRAY-DARK);
  min-height: 20rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 32%;
  margin: 1rem 0.5rem;
  padding: 10px 4px;
  max-width: 20rem;
  height: auto;
  position: relative;
  border: dashed transparent 4px;
}

.drop {
  border: dashed #fff 4px;
}
.outdrop {
  border: dashed transparent 4px;
}

.title_wrapper {
  width: 100%;
  padding: 4px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.button {
  all: unset;
  padding: 0.3rem;
  /* width: 30px; */
  height: fit-content;
  color: black;
  background-color: #fff;
}
.button:hover {
  background-color: grey;
  color: #fff;
  cursor: pointer;
}
.modal {
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.modal_content {
  display: flex;
  justify-content: space-between;
  background: #fff;
  position: absolute;
  z-index: 1;
  padding: 1rem;
  height: 3.4rem;
  width: 18rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}
