.todo{
    display: flex;
    width: 400px;
    justify-content: space-between;
    height: auto;
    min-height: 40px;
    align-items: center;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 10px;
}
.active{
    background-color: #0015ff;
    color: #ffffff;
}
.complete{
    background-color: #00ff00;
    color: #ffffff;
}
.title{
    margin-left: .5rem;
    font-size: 16px;
    position: relative;
    height: 100%;
    display:flex ;
    align-items: center;
    gap: .5rem;
}

.delete{
    margin-right: .25rem;
    font-size: 28px;
    background-color: #ff0000;
    color: #ffffff;
    padding: auto;
    height: 30px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 10px 10px 0;
}

.container{
    width: auto;
    height: auto;
    min-height: calc(100%-40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.summary{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 100%;
    background-color: #ffffff;
    margin: 20px auto;
    border-radius: 8px;
}
.p_active{
    margin: auto;
}
.p_complete{
    margin: auto;
}
.form{
    display: flex;
    width: 100%;
    height: auto;
    margin: 1rem auto;
    justify-content: space-between;
    align-items: center;
    gap: .4rem;
}
.input{
    width: 80%;
    height: 30px;
    padding:10px;
    border:1px solid #000000;
    border: none;

}
.input:focus{
    outline: none;
    /* border:1px solid #0015ff; */
}
.button{
    border: none;
    /* width: 16%;
    height: 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    padding: 0.3rem 2rem;
    border-radius: 0.2rem;
    background-color: rgb(53, 201, 157);
    color: white;
    font-weight: 900;
}
.todos{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: .2rem;
}
.checkbox{
    height: 30px;
    aspect-ratio: 1;

}